body{
    background: #6da5c0;
}
*{
    color: #1b1b1b;
}

#btnUpdate{
    display: none;
}

.encabezado{
    background-color: #0f969c;
    border-color: #294d61;
}

tr{
    background-color: white;
}
.card-header{
    background-color: #294d61;
}
#btnAdd{
    background-color:#294d61;
}